/*
 * EL UI - 1.0.0
 * http://www.elitesland.com/
 *
 * Copyright 2016 Elitesland.com
 */
.cm002 {
}

.cm002 > .panel > .panel-body {
  background-color: lightgoldenrodyellow;
}

.cm002 > .panel > .tablelist {
  width: 100%;
}
.cm002 > .navpage{
  width: 100%;
}
