/*
 * EL UI - 1.0.0
 * http://www.elitesland.com/
 *
 * Copyright 2016 Elitesland.com
 */
.cm015 {
}

/*.cm015 > .panel > .panel-body {*/
  /*background-color: lightgoldenrodyellow;*/
/*}*/

.cm015 > .panel > .tablelist {
  width: 100%;
}

/**页面表头查询组块，间距和统一查询下来框宽度统一*/
.cm015 > .view > .panel > .panel-body > .navbar-form>.form-group{
  margin: auto 15px ;
}
.cm015 > .view > .panel > .panel-body > .navbar-form>.form-group>.selection-wd01 {
  min-width: 196px;
}

.tablelist > .table > thead > tr > .t3 {
  min-width: 61px;
}
.tablelist > .table > thead > tr > .t6 {
  min-width: 100px;
}
.tablelist > .table > thead > tr > .t7 {
  min-width: 120px;
}
.tablelist > .table > thead > tr > .t8 {
  min-width: 140px;
}
.tablelist > .table > thead > tr > .t10 {
  min-width: 160px;
}

.tablelist > .table > thead > tr > .t11 {
  min-width: 180px;
}

.cm015 > .listView > .panel > .panel-body {
  background-color: #f4f4f4;
}

.cm015 > .navpage {
  width: 100%;
}

.cm015 > .cm015Panel {
  width: 100%;
  min-height: 350px;
}

/***面板左右  标题和返回按钮 布局***/
.panel-heading { height: 50px;line-height: 50px;}
.panel-heading h1{float: left; font-size: 20px;}
.panel-heading .floatRight {
  float: right;
  margin-right: 15px;
}
