/*
 * EL UI - 1.0.0
 * http://www.elitesland.com/
 *
 * Copyright 2016 Elitesland.com
 */
.cm011 {
}

.cm011 > .panel > .panel-body {
  background-color: #f4f4f4;
}

.cm011 > .panel > .tablelist {
  width: 100%;
}
.cm011 > .navpage{
  width: 100%;
}
/**页面表头查询组块，间距和统一查询下来框宽度统一*/
.cm011 > .view > .panel > .panel-body > .navbar-form>.form-group{
  margin: auto 15px ;
}
.cm011 > .view > .panel > .panel-body > .navbar-form>.form-group>.selection-wd01 {
  min-width: 196px;
}

.tablelist > .table > thead > tr > .t3 {
  min-width: 61px;
}
.tablelist > .table > thead > tr > .t6 {
  min-width: 100px;
}
.tablelist > .table > thead > tr > .t7 {
  min-width: 120px;
}
.tablelist > .table > thead > tr > .t8 {
  min-width: 140px;
}
.tablelist > .table > thead > tr > .t10 {
  min-width: 160px;
}

.tablelist > .table > thead > tr > .t11 {
  min-width: 180px;
}

.cm011 > .listView > .panel > .panel-body {
  background-color: #f4f4f4;
}

