{{#fill "mycss"}}
  <link rel="stylesheet" href="/bower/fullcalendar/dist/fullcalendar.min.css">
  <link rel="stylesheet" href="/bower/fullcalendar/dist/fullcalendar.print.css" media="print">
{{/fill}}

{{#fill "myjs"}}
  <script src="/bower/fullcalendar/dist/fullcalendar.min.js"></script>
  <script src="/bower/fullcalendar/dist/lang/zh-cn.js"></script>
  <script src="/bower/Chart.js/dist/Chart.min.js"></script>
{{/fill}}

<div class="content-wrapper">
  <section class="content">
    <ul class="nav nav-tabs"></ul>
    <div class="tab-content"></div>
  </section>
</div>
