/*
 * EL UI - 1.0.0
 * http://www.elitesland.com/
 *
 * Copyright 2016 Elitesland.com
 */

.sm006 {
}

 .sm006 > .panel > .panel-body {
  background-color: #f4f4f4;
}
.sm006  .el-ml-14 {
  margin-left: 14px;
}
.sm006 > .panel > .tablelist {
  width: 100%;
}
.sm006 > .panel > .tablelist >.table >thead>tr> .thW00{
  min-width:30px;
}
.sm006 > .panel > .tablelist >.table >thead>tr> .t3{
  min-width:61px;
}
.sm006 > .panel > .tablelist >.table >thead>tr> .t6{
  min-width:100px;
}
.sm006 > .panel > .tablelist >.table >thead>tr> .t7{
  min-width:120px;
}
.sm006 > .navpage{
  width: 100%;
}
/* .sm006 >  .listView >.panel > .tablelist th{
  background-color:  #ddd;
  text-align: center;
}*/
/*.sm006 >  .editView >.panel > .tablelist th{
  background-color:  #f4f4f4;
  text-align: center;
}*/
.sm006 .form-tight{
padding-top:0;
padding-bottom:0;
margin-bottom:0;
}
.sm006 .panel-tight{
  padding-top:0;
  padding-bottom:8px;
}
